<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone - Login</title>
    <link rel="stylesheet" href="./css/reg.css">
</head>
<body>
	<div>
        <div class="container">
            <h1 data-value="GUMN4M1">GUMN4M1</h1>
            <div class="login-container">
                <form action="#" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="password2" placeholder="Confirm Password" required>
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>
        <div class="container">
            <p>Already have an account? <a href="./login">Log in</a></p>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            const mytext = document.querySelector('h1');
            let interval;

            mytext.addEventListener('mouseenter', function() {
                clearInterval(interval); // Clear any existing interval

                // Reset text to original value
                mytext.innerText = mytext.dataset.value;

                let iteration = 0;
                interval = setInterval(() => {
                    mytext.innerText = mytext.innerText.split("")
                        .map((letter, index) => {
                            if (index < iteration) {
                                return mytext.dataset.value[index];
                            }
                            return letters[Math.floor(Math.random() * 26)];
                        })
                        .join("");
                    if (iteration >= mytext.dataset.value.length) {
                        clearInterval(interval);
                    }
                    iteration += 1 / 3;
                }, 30);
            });
        });
    </script>
</body>
</html>
