<!DOCTYPE html>
<html>
<head>
	<title>Z3r0_L0g0n</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<nav>
		<a href="/"><h1>ZL</h1></a>
		<a href="/about">about</a>
		<a href="/members">members</a>
		<a href="/logout">logout</a>
	</nav>
	<main>
		Username: {{data.username}}<br>
		Email: {{data.email}}<br>
		Password: {{data.password}}
	</main>
	<footer>Made by @Gumn4m1</footer>
</body>
</html>