<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Root Server</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav>
		<a href="/"><img id="server" src="./img/server.png"></a>
		<div class="navbar">
			<a href="/login"><i class="fa fa-sign-in"></i></a>
		</div>
	</nav>
	<main>
		<h1>Welcome to Root Server!</h1>
		<h3>Only privileged users can access further details, so login first</h3>
	</main>
	<footer>
		<p>made by @Gumnami_artist</p>
	</footer>
</body>
</html>