body{
	display: grid;
	height: 98vh;
	grid-template-rows: auto 1fr auto;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
nav{
	background-color: #444;
	height: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav a{
	color: white;
}
nav button{
	background-color: transparent;
	color: white;
	font-size: 1rem;
	width: 4rem;
	height: 2rem;
}
nav button:hover{
	width: 4.2rem;
	height: 2.1rem;
	background-color: red;
	cursor: pointer;
}
form{
	border: 3px solid #f1f1f1;
	width: 30rem;
}

input[type=text], input[type=password]{
	width: 90%;
	margin: 8px;
	display: block;
	height: 2rem;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
}

form button{
	background-color: red;
	color: white;
	height: 2rem;
	width: 5rem;
	cursor: pointer;
}

form button:hover {
	background-color: green;
}

.close{
	background-color: red;
	border: 3px solid #ccc;
	color: white;
}

footer{
	color: white;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

#id01{
	display: flex;
	flex-direction: column;
}

.loginNav{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}
#x{
	background-color: transparent;
	border: none;
	font-size: 2rem;
	color: black;
	cursor: pointer;
}
#switch{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: none;
	cursor: pointer;
	width: 4rem;
	border-radius: 4px;
}
#switch:hover{
	background-color: #CB9D06;
	color: white;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

#txt{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#id01{
	display: none;
}
#id02{
	display: none;
}