.container {
    width: 100%; height: 100%;
    max-width: 60vh; max-height: 90vh;
    background-color: #111;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.bgblur{
    width: 110vh;
    height: 98vh;
    background-color: #333;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}
.rcontainer {
    width: 100%; height: 100%;
    max-width: 35vh; max-height: 90vh;
    background-color: #111;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.racontainer {
    width: 100%; height: 100%;
    max-width: 35vh; max-height: 90vh;
    background-color: #111;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.fa{
    height: 20px;
    width: 20px;
}
audio{
    width: 35vh;
}

body{
	background-color: #444;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgimg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    background-position: center;
    z-index: -1;
}

h1{
	color: white;
}
.footer{
	text-align: center;
	color: white;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    width: 110vh
    padding-right: 20px;
}
.right{
        padding-left: 20px;
}

iframe{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

a{
    color: white;
    font-family: "Space Mono",monospace;
    padding-left: 10px;
    padding-right: 10px; 
}

#dor{
    height: 20vh;
    width: 30vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}