<!DOCTYPE html>
<html>
<head>
	<title>otp</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/otp.css">
</head>
<body>

    <script type="text/javascript">
         document.addEventListener('DOMContentLoaded', function() {

            function getCookieValue(cookieName) {
                let val = decodeURIComponent(document.cookie)
                const cookies = val.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Check if this cookie starts with the desired name
                    if (cookie.startsWith(cookieName + '=')) {
                        return cookie.substring(cookieName.length + 1); // Return cookie value
                    }
                }
                return ''; // Return empty string if cookie not found
            }
            // Get the cookie value
            let cookieValue = getCookieValue('{{data.username}}');
            console.log(cookieValue);

            // Set the hidden input field value with the cookie value
            document.getElementById('cookie').value = cookieValue;
        }); 

         function myFunction() {
              var popup = document.getElementById("myPopup");
              popup.classList.toggle("show");
            }
    </script>
	<nav>
	    <a href="/"><h1>2FA</h1></a>
	    <a href="/">Home</a>
	</nav>
	<main>
        <div>
            An OTP is send to the user: <b id="uname">{{data.username}}</b>
        </div>
        <button class="popup" onclick="myFunction()" id="otpbutton">Your OTP
          <span class="popuptext" id="myPopup">{{val.otp}}</span>
        </button>
	    <form action ="/otp" method="POST">
	        <label for="otp">
	            One Time Password (OTP)
	        </label>
            <input type="hidden" name="uname" id="uname" value="{{data.username}}">
	        <input type="text" id="otp" name="otp" placeholder="Enter OTP">
            <input type="hidden" id="cookie" name="cookie" value="">
	        <button type="submit">Submit</button>
	    </form>
	</main>

	<footer>
		Made by @Gumn4m1
	</footer>
</body>
</html>